$atBaseFontColor: var(--dtFontColorPrimary);
$atButtonFontColor: var(--dtFontColorPrimary);
$atButtonFontSize: var(--dtFontSize100);
$atButtonBackground: var(--dtActionBg);
$atButtonBackgroundHover: var(--dtActionBgHover);
$atButtonBorderRadius: var(--dtControlBorderRadius);
