$global_base_black: #333333;
$global_base_lIght: #ffffff;
$global_gray_100: rgba(0, 0, 0, 0.75);
$global_gray_200: rgba(0, 0, 0, 0.6);
$global_gray_300: rgba(0, 0, 0, 0.45);
$global_gray_400: rgba(0, 0, 0, 0.3);
$global_gray_500: rgba(0, 0, 0, 0.15);
$global_space_tiny: 4px;
$global_space_small: 8px;
$global_space_smallMedium: 0.75rem;
$global_space_medium: 16px;
$global_space_large: 24px;
$global_space_xlarge: 32px;
$styleGuide1_action_primary: #31ed31;
$styleGuide1_action_secondary: #2ec22e;
$styleGuide1_action_tertiary: #1e961e;
$styleGuide1_brand_primary: #ff0000;
$styleGuide1_brand_secondary: #d42828;
$styleGuide1_brand_tertiary: #af2323;
$styleGuide1_font_primary: Verdana, Geneva, Tahoma, sans-serif;
$styleGuide1_content_primary: 1.2rem;
$styleGuide2_action_primary: #ff5555;
$styleGuide2_action_secondary: #d22828;
$styleGuide2_action_tertiary: #9f1c1c;
$styleGuide2_brand_primary: #577bf1;
$styleGuide2_brand_secondary: #4646ed;
$styleGuide2_brand_tertiary: #3f55b1;
$styleGuide2_font_primary: 'Times New Roman', Times, serif;
$styleGuide2_content_normal: 0.9rem;
$styleGuide3_base_primary: #2be053;
@mixin global_mediaQuery_aboveSmallMobile {
  @media screen and (min-width: 321px) {
    @content;
  }
}
@mixin global_mediaQuery_aboveMobile {
  @media screen and (min-width: 664px) {
    @content;
  }
}
@mixin global_mediaQuery_aboveTablet {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin global_mediaQuery_aboveDesktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin styleGuide1_mediaQuery_aboveSmallDesktop {
  @media screen and (min-width: 1100px) {
    @content;
  }
}
