@import './baseValues.scss';

& {
  --dtActionBg: #{$client1_action_primary};
  --dtActionBgHover: #{$client1_action_secondary};
  --dtControlBorderRadius: #{$global_space_small};
  --dtFontColorPrimary: #{$global_base_black};
  --dtFontSize100: #{$client1_content_primary};
  --dtPrimaryFont: #{$client1_font_primary};
}
