@import './baseValues.scss';

body {
  font-size: 10px;
}

& {
  --dtActionBg: #aaaaaa;
  --dtActionBgHover: #{$client3_base_primary};
  --dtControlBorderRadius: #{$global_space_tiny};
  --dtFontColorPrimary: #{$client3_base_primary};
  @include global_mediaQuery_aboveSmallMobile {
    --dtActionBg: rgba(180, 180, 180, 0.8);
    --dtControlBorderRadius: #{$global_space_small};
    --dtFontSize100: 1rem;
  }
  @include global_mediaQuery_aboveMobile {
    --dtControlBorderRadius: #{$global_space_medium};
    --dtFontSize100: 2rem;
  }
  @include global_mediaQuery_aboveTablet {
    --dtControlBorderRadius: #{$global_space_large};
  }
}
