@import './styleGuides.scss';

& {
  --dtActionBg: #{$styleGuide2_brand_tertiary};
  --dtActionBgHover: #{$styleGuide2_brand_secondary};
  --dtControlBorderRadius: #{$global_space_small};
  --dtFontSize100: #{$styleGuide2_content_normal};
  --dtNormalFontColor: #{$global_base_light};
  --dtPrimaryFont: #{$styleGuide2_font_primary};
}
