@import './styleGuides.scss';

& {
  --dtActionBg: #{$styleGuide1_action_primary};
  --dtActionBgHover: #{$styleGuide1_action_secondary};
  --dtControlBorderRadius: #{$global_space_small};
  --dtFontColorPrimary: #{$global_base_black};
  --dtFontSize100: #{$styleGuide1_content_primary};
  --dtPrimaryFont: #{$styleGuide1_font_primary};
}
