@import './styleGuides.scss';

& {
  --dtActionBg: #{$styleGuide2_brand_primary};
  --dtActionBgHover: #{$styleGuide2_brand_secondary};
  --dtControlBorderRadius: #{$global_space_tiny};
  --dtFontSize100: #{$styleGuide2_content_normal};
  --dtNormalFontColor: #{$global_base_black};
  --dtPrimaryFont: #{$styleGuide2_font_primary};
}
