@import './styleGuides.scss';

& {
  --dtActionBg: #{$styleGuide1_action_tertiary};
  --dtActionBgHover: #{$styleGuide1_action_secondary};
  --dtControlBorderRadius: #{$global_space_tiny};
  --dtFontSize100: #{$styleGuide1_content_primary};
  --dtNormalFontColor: #{$global_base_light};
  --dtPrimaryFont: #{$styleGuide1_font_primary};
  @include styleGuide1_mediaQuery_aboveSmallDesktop {
    --dtFontSize100: 13px;
  }
}
