{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "extends": ["stylelint-prettier/recommended"],
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "lf"
}
