:host {
  display: block;
  color: var(--tf-font-color);
  font: var(--tf-default-font);
}

nav {
  display: flex;
  justify-content: left;
  background-color: rgba(200, 200, 200, 0.5);
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 100px;
  height: 100px;
}
