:host {
  display: block;
  color: var(--tf-font-color);
  font: var(--tf-default-font);
}

nav {
  display: flex;
  justify-content: left;
  background-color: rgba(200, 200, 200, 0.5);
}

.logo-bar {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: rgba(200, 200, 200, 0.5);
}

.nav-row {
  display: block;
}

.logo {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.mode-toggle {
  float: right;
}
