:root {
  --tf-small-font: 400 0.75rem/0.875rem Verdana, Geneva, Tahoma, sans-serif;
  --tf-default-font: 400 1rem/1.25rem Verdana, Geneva, Tahoma, sans-serif;
  --tf-large-font: 600 1.5rem/1.75rem Verdana, Geneva, Tahoma, sans-serif;
  --tf-tile-bg-color: #333;
  --tf-font-color: #eee;
  --tf-backdrop-color: rgba(255, 255, 255, 0.5);
  --tf-background-color: #333;
}

.tf-light {
  --tf-tile-bg-color: #eee;
  --tf-font-color: #333;
  --tf-backdrop-color: rgba(0, 0, 0, 0.5);
  --tf-background-color: #eee;
}

body {
  margin: 0;
  background-color: var(--tf-background-color);
}
